.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.img {
    width: 100%;
    height: 350px;
}

.container p {
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    color: #595959;
    padding-top: 15px;
    padding-bottom: 20px;
}

.container span {
    color: #28A745;
}

.form {
    width: 874px;
    height: 71px;
    display: flex;
    margin:  0 auto;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #00000026;
    align-items: center;
    /* display: flex; */
    justify-content: space-between;
}

.form select {
    width: 81px;
    height: 39px;
    font-size: 20px;
    font-weight: 400;
    color: #2C2C2C;
    cursor: pointer;
    outline: none;
}

.form div {
    display: flex;
    align-items: center;
}

.form img {
    width: 20px;
    height: 20px;
}

.button {
    background-color: #28A745;
    border-radius: 16px;
    color: #ffffff;
    padding: 8px;
    font-size: 24px;
    font-weight: 400;
    width: 190px;
    height: 51px;
}

.date input {
    font-size: 20px;
    color: #2C2C2C;
    cursor: pointer;
    margin-right: 10px;
}