.notfound {
    text-align: center;
    font-size: 30px;
    margin: 50px auto;
    border: 1px solid #D9D9D9;
    width: 600px;
    padding: 25px;
    border-radius: 20px;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container h4 {
    font-size: 32px;
    font-weight: 400;
    color: #000000;
    margin-top: 80px;
}

.card {
    border: 1px solid #0000001F; 
    padding: 10px;
    border-radius: 8px;      
    margin: 11px;  
    margin-top: 10px;
    width: 278px;
    height: 277px;
}

.card img {
    width: 278px;
    height: 159px;
}

.card h2 {
    font-size: 22px;
    font-weight: 500;
    columns: #000000;
    padding-top: 5px;
}

.card span {
    font-size: 15px;
    font-weight: 400;
    color: #282828B2;
}

.reserve {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #D9D9D9;
    padding-top: 10px;
}

.reserve p {
    color: #009ECA;
    font-size: 16px;
    font-weight: 400;
}

.reserve span {
    color: #282828CC;
    font-size: 16px;
    font-weight: 400;
}

.reserve button {
    background-color: #28A745;
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
    border-radius: 4px;
    width: 64px;
    height: 25px;
}

.banner {
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    justify-content: center;

}

.banner img {
    width: 1188px;
    height: 251px;

}

.options {
    white-space: nowrap;  
    overflow: hidden;         
    text-overflow: ellipsis;  
}