.container {
    border: 1px solid #00000033;
    border-radius: 10px;
    width: 871px;
    margin-bottom: 200px;
}

.container header {
    display: grid;         
    grid-template-columns: repeat(4, 1fr);
    background-color: #F3F3F3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 55px;
    padding-top: 13px;
    text-align: center;
}

.container section {
    text-align: center;
    display: grid;         
    grid-template-columns: repeat(4, 1fr);
    padding-top: 10px;
    padding-bottom: 10px;
}

.container h2 {
    font-size: 16px;
    font-weight: 400;
}

.container p {
    font-size: 14px;
    font-size: 300;
}

.container p:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}