.container{
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.right  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    /* gap: 50px; */
    width: 45%;
}

.right div {
    display: flex;
    align-items: center;
}

.right img {
    width: 59px;
    height: 59px;
    border-radius: 50%;
}

.right div p {
    font-size: 40px;
    font-weight: 800;
    margin-right: 10px;
}

.right div span {
    color: #28A745;
}

.right > p:nth-child(2) {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
}

.right > p:last-child {
    font-size: 20px;
    font-weight: 400;
    color: #282828;
}

.wrapper {
  width: 45%;
  height: 350px;
  /* margin: auto;; */
}

.swiper {
  border-radius: 12px;
  overflow: hidden;
    /* height: 350px; */
}

.image {
  width: 100%;
  height: 350px;
  /* object-fit: cover; */
}

.controls {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.controls button {
  /* background: none; */
  /* border: none; */
  font-size: 25px;
  cursor: pointer;
}

.controls span {
  font-size: 25px;
}

.descriptions {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    border-top: 1px solid #0000001F;
    border-bottom: 1px solid #0000001F;
    padding: 25px 0;
}

.descriptions img {
    width: 109px;
    height: 99px;

}

.descriptions div {
    display: flex;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.text h3 {
    font-size: 26px;
    font-weight: 500;
    color: #282828;
}

.text p {
    font-size: 16px;
    font-weight: 300;
    color: #282828;
}

