@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-yekan);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  padding: 0;
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
